# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
PORT=5000
NODE_ENV=development

DATABASE_URL="postgresql://postgres:EnatEnaLji2129@localhost:5432/E-Commerce?schema=public"
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false

SMTP_USER=danielayen2112@gmail.com
SMTP_PASS=hjtj mypx ftth efxw 

EMAIL_FROM=noreply@ecommerce.com
ADMIN_EMAIL=admin@ecommerce.comJWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRE=30d


# Redis Configuration
REDIS_URL=redis://localhost:6379

# Frontend URL
FRONTEND_URL=http://localhost:3005

# CORS
ALLOWED_ORIGINS=http://localhost:3005,http://localhost:3000

# Logging
LOG_LEVEL=info